body {
    background-color: lightblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#resultsDiv {
    display: flex;
    flex-direction: column;
}

#resultsDiv > span:hover {
    background-color: lightgray;
}

#weatherDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tempSwitch {
    border: 1px solid black;
    width: 40px;
    height: 19px;
}

#tempSwitch:hover {
    cursor: pointer;
}

#tempSwitchButton {
    color: white;
    background-color: black;
    text-align: center;
    width: 15px;
    height: 15px;
    margin-top: 2px;
    margin-bottom: 2px;
    transition: margin-left 300ms;
}

.tempSwitchButtonLeft {
    margin-left: 2px;
}

.tempSwitchButtonRight {
    margin-left: 23px;
}

#container {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}

